* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
          url('./assets/bg.jfif')
          center / cover no-repeat fixed;
}

.post__list {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.post {
  padding: 20px;
  border: 2px solid teal;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
